<html>
	<head>
		<title>Priority To-Do lists</title>
	</head>
	<body>
		<h1>Your Priority To-Do list</h1>
		<form method="POST" action="/lists/new">
			<input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
			<p>Prioridade:</p>
			<div>
				<input type="radio" id="id_prioridade_baixa" name="item_priority" value="Baixa" checked="checked" />
				<label>Baixa</label>
			</div>
			<div>
				<input type="radio" id="id_prioridade_media" name="item_priority" value="Média" />
				<label>Média</label>	
			</div>
			<div>
				<input type="radio" id="id_prioridade_alta" name="item_priority" value="Alta" />
				<label>Alta</label>
			</div>
			{% csrf_token %}
		</form>
	</body>
</html>